<!doctype html>
<html>
<head lang="en" slick-uniqueid="3">
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title></title>
</head>
<body>
		<div>
			<form method="POST" enctype="multipart/form-data" action="">
			<div>
				<input type="file" name="myfile"  />
			</div>
			<br/>
			<div>
				<select name="algorithm" >
				<option value="sssp">Single Source Shortest Path</option>
				<option value="ct">Counting Triangle</option>
				<option value="wcc">Weakly Connected Component</option>
				</select>
			</div>
			<br/>
			<div>
				<select name="workers" >
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				</select>
			</div>
			<br/>
			<div>
				<select name="cores" >
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				</select>
			</div>
			<br/>
			<div>
				<select name="memory" >
				<option value="1">4GB</option>
				<option value="2">8GB</option>
				<option value="3">16GB</option>
				<option value="4">32GB</option>
				<option value="5">64GB</option>
				</select>
			</div>
			<br/>
			<div>
				<input type="submit" />
			</div>
			</form>
		</div>
	</body>
</html>